{% extends "base.html" %}

{% block body %}
<h3 class="m-4">Zajęcia</h3>
      <div class="row">
        <div class="col-12">
          <div class="card border-primary ms-4 me-4 mb-4">
            <div class="card-header">
              <i class="fa-solid fa-list fa-lg"></i> Dziennik lekcji
            </div>
            <div class="card-body">
              {% for lesson in lessons %}
                <p class="card-text">  
                  {% if lesson.teacher_id == request.user.teacher.id %}
                    {{ lesson.class_id__class_name }} {{ lesson.class_id__class_letter }} | {{ lesson.subject_id__subject_name }}
                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#student_list{{lesson.class_id}}">
                      lista uczniów
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create_assigment{{lesson.id}}">
                      dodaj test
                    </button>
                    <button type="button" class="btn btn-outline-success btn-sm" onclick="window.location.href='{% url 'gradebook' classroom=lesson.class_id__class_name letter=lesson.class_id__class_letter subject_name=lesson.subject_id__subject_name %}'">
                      otwórz dziennik
                    </button>
                    <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#student_chart_{{lesson.class_id}}_{{lesson.class_id__class_letter}}_{{lesson.subject_id__id}}">
                      Wykres
                    </button>
                  {% endif %}
                </p>
              
              

                  <!-- MODAL UCZNIOWIE DANEJ KLASY -->
                <div class="modal" id="student_list{{lesson.class_id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          Lista uczniów
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                      {% for student in students %}
                        {% if student.class_id.id == lesson.class_id %}
                        <p>
                          {{ student }}
                          <button type="button" class="btn btn-outline-info btn-sm">
                            Raport
                          </button>
                          <button type="button" class="btn btn-outline-warning btn-sm" onclick="window.location.href='{% url "contact_parent" student=student.id %}'">
                            Wyślij e-mail do opiekuna
                          </button>
                          
                        </p>
                        {% endif %}
                      {% endfor %}
                      </div>
                      <div class="modal-footer">
                        <form action="#" method="POST">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary" value="Delete">
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- MODAL TWORZENIE TESTU LUB INNEGO ZADANIA DOMOWEGO -->
                <div class="modal" id="create_assigment{{lesson.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          Tworzenie testu
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                        <form action="#" method="POST">
                          <div class="modal-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                          </div>
                          <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Utwórz">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
                          </div>
                        </form>     
                      
                    </div>
                  </div>
                </div>
                <!-- MODAL WYKRES -->
                <div class="modal" id="student_chart_{{lesson.class_id}}_{{lesson.class_id__class_letter}}_{{lesson.subject_id__id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          Wykres ocen uczniów
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <canvas id="student_chart_{{lesson.class_id}}_{{lesson.class_id__class_letter}}_{{lesson.subject_id__id}}" class="myChart"></canvas>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <!-- <form action="#" method="POST">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary" value="Delete">
                        </form> -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyjdź</button>
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}


            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var data = '{{ jsonData|safe }}';
  var jsonData = JSON.parse(data);
  console.log(jsonData);
  // Pobierz wszystkie elementy z klasą 'myChart'
  const canvases = document.getElementsByClassName('myChart');

  // Zamień HTMLCollection na tablicę, aby móc użyć forEach
  Array.from(canvases).forEach(function(canvas) {
    // Uzyskaj kontekst dla danego elementu canvas
    const ctx = canvas.getContext('2d');

    // Podzielenie ciągu na części za pomocą separatora "_"
    var parts = canvas.id.split("_");

    // Pobranie ostatnich dwóch części, które zawierają "1_A_Matematyka"
    var full_key = parts.slice(-3).join("_");

    

    // Użyj funkcji filter, aby uzyskać tylko obiekty z kluczem "1_A_Matematyka"
    var wybrane_dane = jsonData.filter(function(item) {
        return full_key in item;
    });
    console.log(full_key)

    student_avarage = Object.values(Object.values(wybrane_dane[0]))[0]
    
    students = Object.keys(student_avarage)
    avarage = Object.values(student_avarage)

    console.log(students)
    console.log(avarage)

    // Zainicjuj nowy obiekt Chart
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: students,
        datasets: [{
          label: 'Oceny',
          data: avarage,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    // Przechowaj obiekt Chart jako atrybut elementu canvas
    canvas.chart = chart;
  });

  // Funkcja do zniszczenia wykresu dla danego canvasa
  function destroyChart(canvas) {
    if (canvas.chart) {
      canvas.chart.destroy();
    }
  }

  // Event listener do zniszczenia i ponownego utworzenia wykresu po kliknięciu przycisku
  document.getElementById('student_chart_button').addEventListener('click', function() {
    Array.from(canvases).forEach(function(canvas) {
      destroyChart(canvas);

      // Utwórz nowy wykres
      const ctx = canvas.getContext('2d');
      const newChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['uczen_1', 'uczen_2'],
          datasets: [{
            label: 'Oceny',
            data: [Math.random() * 5, Math.random() * 5], // Przykładowe losowe dane
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      // Przechowaj nowy obiekt Chart jako atrybut elementu canvas
      canvas.chart = newChart;
    });
  });
</script>
{% endblock %}